In [2]:
#Data Science Course
#Assignment # 1

In [1]:
#1

print ('''
Twinkel, twinkle, little star,
    How I wonder what you are!
        Up above the world so high
        Like a diamond in the sky.
Twinkel, twinkle, little star,
    How I wonder what you are!
''');

Twinkel, twinkle, little star,
    How I wonder what you are!
        Up above the world so high
        Like a diamond in the sky.
Twinkel, twinkle, little star,
    How I wonder what you are!

In [8]:
#2

import sys
print (sys.version)

3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]

In [10]:
#3

import time
print (time.asctime())

Thu Dec 30 10:20:23 2021

In [12]:
import datetime
print(datetime.datetime.now())

2021-12-30 10:23:23.763704

In [17]:
#4

import math
math.pi

radius = int(input("Enter Radius of Circle in Meter "))

area = math.pi *  radius ** 2

print("")
print("The area of circle in meter square is:")
print(area)

Enter Radius of Circle in Meter 44

The area of circle in meter square is:
6082.12337734984

In [25]:
#5

first_name = str(input(""))
last_name = str(input(""))

full_name_in_reverse = last_name + " " + first_name

print(full_name_in_reverse)

osama
amanat
amanat osama

In [29]:
#6

input_1 = int(input(""))
input_2 = int(input(""))

total = input_1 + input_2

print("Total is %s" %total)

3
3
Total is 6